.App {
  text-align: center;
  background-color: rgb(255, 254, 254);
}
.main > * {
  background-image: linear-gradient(rgb(19, 0, 192), rgb(187, 187, 245));
  color: white;
  height: 50px;
  text-align: left;
}
.vh-100 div {
  position: -webkit-sticky;
  display: table; /* This is important */
  width: 200px;
  min-width: 40px;
  margin-top: -20px;
}
.searchinput {
  position: relative;
  margin: auto;
}

.search input button {
  display: table;
}
.searchInput {
  display: inline-block;
}
.imagehome {
  height: 500px;
  z-index: -1;
  margin: auto;
}
.sadface {
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.containerannoce {
  margin-top: 10%;
}
.containerlo > div {
  z-index: 1000;
  position: fixed;
  margin: auto;
  width: 1000px;
  float: center;
}
.containerlo > img {
  z-index: -1;
}
.imgdash {
  border-radius: 25px;
  width: 300px;
  height: 200px;
}
.btn-outline-info {
  padding: 4px 100px !important;
  border-radius: 25px !important;
}
.home-info {
  line-height: 0.5pt;
}
.dashform {
  padding: 30px;
}
.dashbtn {
  position: absolute;
  right: 20px;
}
.alert-primary {
  animation: cssAnimation 0s ease-in 3s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}
@-webkit-keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}
